# Since the ".env" file is gitignored, you can use the ".env.example" file to
# build a new ".env" file when you clone the repo. Keep this file up-to-date
# when you add new variables to `.env`.

# This file will be committed to version control, so make sure not to have any
# secrets in it. If you are cloning this repo, create a copy of this file named
# ".env" and populate it with your secrets.

# When adding additional environment variables, the schema in "/src/env.mjs"
# should be updated accordingly.

# PostgreSQL connection string with pgBouncer config — used by Prisma Client
DATABASE_URL="postgresql://postgres:Xl03275769262@db.cbsafestutofinapqwmj.supabase.co:5432/postgres"
# PostgreSQL connection string used for migrations
DIRECT_URL="https://cbsafestutofinapqwmj.supabase.co"

# Supabase
NEXT_PUBLIC_SUPABASE_URL="https://cbsafestutofinapqwmj.supabase.co"
NEXT_PUBLIC_SUPABASE_ANON_KEY="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImNic2FmZXN0dXRvZmluYXBxd21qIiwicm9sZSI6ImFub24iLCJpYXQiOjE3MDI1MDE3MjgsImV4cCI6MjAxODA3NzcyOH0.t1zXHgegP8aJzpyFDGvKzZGY74s_B21r_BcZHT_jAFM"